/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1,
h2,
h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

.nav-bar {
    background-color: #151515;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    margin-right: 20px;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-links a.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .nav-links a {
        margin-right: 0;
    }
}

/***************************************************/
/* Hero Section */
.hero {


    background-color: #000000;
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: row;
}

.hero .nav-logo {
    display: flex;
    align-items: center;
}

.hero .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b73333;
    margin-left: 100px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    text-align: end;
}

.hero .container button {
    margin-top: 30px;
    align-self: flex-end;
}

.hero h1,
.hero p {
    margin: 0;
    text-align: center;
    margin-top: 30px;
}

.projects .project-container li {
    margin-bottom: 10px;
}

/***************************************************/
/* Projects Section */
.projects {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.projects .container {
    max-width: 1200px;
    margin: 0 auto;
}

.projects .project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects .project-container {
    margin: 20px;
    width: 330px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: end;
    animation: zoomIn 2s;

    /* added animation */
}

.projects .project-container img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.projects .project-container h3 {
    margin-top: 100;
    text-align: center;
}

.projects .project-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.projects .project-container li {
    margin-bottom: 10px;
}

.projects .show-repo-button {
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.projects .show-repo-button a {
    text-decoration: none;
    color: #ff0000;
}

/***************************************************/
/* Volunteering Section */
.volunteering {
    background-color: #000000;
    padding: 50px 0;
}

.volunteering .container {
    max-width: 1200px;
    margin: 0 auto;
}

.volunteering .project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.volunteering .project-container {
    justify-content: center;
    margin: 20px;
    width: 350px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ddd;
    border-color: #337ab7;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 2s;
    /* added animation */
}

.volunteering .project-container img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    text-align: center;
    padding-top: 10px;
}

.volunteering .project-container h3 {
    margin-top: 0;
    text-align: center;
}

.volunteering .project-container p {
    text-align: center;
    color: #fff;
}

.volunteering .project-container span {
    margin-top: 0;
    color: #ff0000;
    padding-bottom: 15px;
}

/***************************************************/
/* Skills Section */
.skills {
    background-color: #000000;
    padding: 50px 0;
}

.skills .container {
    max-width: 1200px;
    margin: 0 auto;
}

.skill-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-container {
    display: flex;
    align-items: center;
    margin: 20px;
    animation: zoomIn 2s;
    /* added animation */
}

.skill-icon {
    margin-right: 10px;
}

.skill-image {
    width: 40px;
    height: 40px;
}

.skill-name {
    margin: 0;
}

/***************************************************/
/* Contact Section */
.contact {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.contact .container {
    max-width: 800px;
    margin: 0 auto;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.contact form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button[type="submit"]:hover {
    background-color: #3e8e41;
}

/***************************************************/




#about-me {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-me-content h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.about-me-content p {
    margin-bottom: 20px;

}

.about-me-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-me-content li {
    margin-bottom: 10px;
}

.about-me-content li:before {
    content: "\2022";
    font-size: 1.5em;
    color: #666;
    margin-right: 10px;
}

/***************************************************/

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}